html, body {
  height: 100%;
  width: 100%;
}
#maindiv {
  height: 150vh;
  width: 100%;
  background-color: rebeccapurple;
}
#div2 {
  background-color: white;
  width: 100%;
  height: 60%;
}
label {
  display: block;
  padding: 10px;
}
#div1 {
   height: 150px;
  width: 100%;
  margin: 0;
}
#top, .top2 {
  margin: auto;
  text-align: center;
  color: white;
  }
input {
  border-radius: 20%;
  width: 70%;
  height: 30px;
  }
  
.minp {
  height: 80px;

  }
#dd {
  width: 20%;
  height: 50%;
  font-size: 20x;
  }
#dd p {
  font-size:5px;
  color: white;
  }
#downdiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding: 5px;
  }
button {
  color: white;
  background-color: rebeccapurple;
  width: 80px;
  padding: 12px;
  margin-right: 60%;
   margin-left: 40%; 
  }
footer {
  font-size: 6px;
  color: white;
}
/* Footer */
