html, body {
  height: 100%;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}
#fp {
  margin-top: 0;
  text-align: center;
}
#fh1 {
  margin-bottom: 0;
  text-align: center;
}
label {
  display: block;
  justify-content: center;
  margin: 0 auto;
}
button {
background-color: rebeccapurple;
  margin-left: 40%;
  margin-right: 50%;
  color: white;
  margin-left: 50%;
  width: 90%;
  height: 50px;
  font-size: 20px;
}
#sinp {
  background-color: whitesmoke;
  border: 2px solid gray;
  height: 25px;
width: 60%;
  display: block;
  text-align: center;
  justify-content: center;
  margin:
 0 auto;
}
Footer
