html, body {
  height: 100%;
  width: 100%;
}
#downdiv {
  background-color: rebeccapurple;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 5px;
  }
#dd {
  width: 20%;
  height: 60%;
  font-size: 20px;
  }
#dd p {
  font-size:10px;
  color: white;
  }
#footer {
  background-color: rebeccapurple;
  font-size: 10px;
  color: white;
}
#fd {
  background-color: white;
  width: 100%;
  height: 35px;
  margin-bottom: 0;
}
#subs {
  color: white;
  font-size: 16px;
}
#flab {
  color: rebeccapurple;
  margin-top: 8px;
  float: left;
  margin-left: 25px;
}
nav {
  float: right;
  margin-right: 25px;
  margin-top: 8px;
}
a {
  text-decoration: none;
  color: black;
  padding-right: 10px;
  padding-left: 10px;
}
a:hover {
  color: rebeccapurple;
}
a:active {
  color: rebeccapurple;
}
#asi {
  border: 2px solid rebeccapurple;
  border-radius: 25px;
  background-color: white;
}
#asu {
  color: white;
  border: 2px solid rebeccapurple;
  border-radius: 25px;
  background-color: rebeccapurple;
}
#fh1, #sh1 {
  text-align: center;
}
#smalldiv {
  width: 40%;
  height: 500px;
  border: 2px solid rebeccapurple;
  padding: 10px;
}
#bigdiv {
  padding: 10px;
  margin: 0 auto;
  width: 100%;
display: flex;
  flex-direction: row;
  
}

#bigdiv2 {
  padding: 10px;
  margin: auto;
  width: 100%;
display: flex;
  flex-direction: row;
  
}

#myga {
  font-size: 12px;
  justify-content: center;
  width: 10px;
  padding: 7px;
  border: 2px solid black;
  background-color: rebeccapurple;
  color: white;
}
