body{
    box-sizing: border-box;
    padding:0;
    margin: 0;

}
/* this is the code for whole contianer */
.contianer-fluid{
    width: 100%;
    height: 100vh;
    margin: 50px 50px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    font-size: 30px;
    font-weight: 500;
}
.img-grp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 50px;

}
.img-grp .arrows{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 50px;

}
h3{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 30px;

}
/* code for Qr form */
.cm-input{
    display:block;
    margin: 14px 2px;
   

}
.form-Qr{
    margin: 100px 80px;
}
.img{
    display:flex;
    justify-content: flex-end;
    margin-right:30px ;
    width: 90%;
}
.web{
    display:block;
    margin: 14px 2px;

}
.form-web{
    margin-top: 150pxpx;

}
#btn-pg{
    display: flex;
   
    justify-content: space-around;
    

}
.btn-1{
    margin-bottom: 15px;
    border-radius: 2px;
    padding: 10px 15px;
    
    cursor: pointer;
}

.btn-2{
    border-radius: 1px;
    padding:0px 10px;
    cursor: pointer;
    background-color: rgb(145, 70, 216);
}
@media screen and (max-width: 1000px){
    .img-grp{ width:30%;
        display: flex;
        flex-direction: column;

    }
}



