div#navbarNav {
  justify-content: end;
}
div.container-fluid {
  --bs-gutter-x: 8rem;
}
li.about{
  border-radius: 8px;
  background: #6020BD;
}
a#about1 {
  color: #fff;
  padding-left: 8px;
}
.hero {
  display: flex;
}
.hero{
  margin: 150px;
}
.conatinerRight h1, p {
  color: #6020BD;
}
.conatinerRight p {
  font-size: 30px;
}
.conatinerRight{
  margin-left: 30px;
}
footer {
  background: #6020BD;
  display: flex;
  justify-content: space-around;
}
footer p, h5 {
  color: #fff;
}
footer h5 {
  font-weight: bold;
}
.email {
  display: flex;
}
/* .contact p {
  color: #fff;
} */