html, body {
    height: 100%;
    width: 100%;
}
#downdiv {
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 150px;
    padding: 15px;
}
#footer {
    background-color: rebeccapurple;
    height: 30px;
  }
  footer #3p {
    font-size: 50px;
  }
  #subs {
    color: white;
    font-size: 15px;
    border: 1px solid #38285B;
    background-color: #38285B;
  }
  #footerLogo{
    margin-top: -120px;
    width: 2%;
    position: absolute;
  }
  .email {
    background-color: #D3D3D3;
  }

  #dd {
    width: 20%;
    height: 60%;
    font-size: 20px;
    }
  #dd p {
    font-size:8px;
    color: white;
    }
  footer {
    font-size: 6px;
    color: white;
  }