.about-top {
	height: 466px;
}
.about2 {
	text-align: center;
	align-items: center;
}
.about-card-row {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; 
}
.card-im {
	width: 20px;
	display: none;
}
